<a href="/auth/logout/">Logout</a>
{{user.id}} - {{user.username}}
<h2>Profiles</h2>
{% for player in players %}
<p>{{player.id}}{{player.position}}</p>
{% endfor %}
{% if can_register %} <a href="/register/">Add profile</a> {% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
{% load static %}
<iframe src="{% static 'index.html' %}" width="970" height="650" />
