[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pycsg = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
